/* 3줄이상 ...표시 */
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* 글쓰기시 P태그 글간격이 너무 넓기때문에 추가 */
.ProseMirror p {
  margin: 0 !important;
}
/* 글쓰기시 아웃라인제거 */
.ProseMirror:focus {
  outline: none;
}
/* 위지위그의 이미지태그의 기본값 */
img {
  max-width: 100%;
  height: auto;
}
/* 댓글입력란 */
.comment-content textarea {
  color: rgba(0, 0, 0, 0.6) !important;
}
/* 이미지가 존재하지 않을 경우 기본 색상 */
.v-image {
  background: #d3d3d3;
}
